/* homestyle.css */
* {
    margin: 0;
    padding: 0;
    font-family: "Biome", sans-serif; /* Use "Biome" font, and fall back to sans-serif if it's not available */
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/food.png');
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin-left: 0%;
    font-family: "Biome", sans-serif; /* Apply "Biome" font to the logo */
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #FF9F00;
    text-transform: uppercase;
    font-family: "Biome", sans-serif; /* Apply "Biome" font to the navigation links */
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #FF9F00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/* Updated design for hero section */

main {
    max-width: 800px;
    margin: 0 auto; /* Removed margin */
    padding: 0; /* Removed padding */
    background: transparent; /* Removed background */
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FF9F00;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: "Biome", sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* Reshaped search input */
.search-bar input[type="text"] {
    width: 60%; /* Increase the width for a more rectangular shape */
    height: 40px; /* Adjust the height as needed */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
}

/* Updated styles for buttons */
.search-bar button,
.buttons .category-button,
.buttons .random-button {
    width: auto; /* Remove fixed width to make buttons adjust to content */
    padding: 15px 20px; /* Adjust padding as needed */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #FF9F00;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* Ensure consistent button size */
.buttons .category-button,
.buttons .random-button {
    margin-left: 10px;
    margin-right: 10px;
}

/* Adjust margin between search input and buttons */
.search-bar input[type="text"] {
    margin-right: 10px; /* Add margin to separate input and buttons */
}
.buttons {
    margin-top: 30px;
}

.category-button:hover, .random-button:hover, .search-bar button:hover {
    background-color: #FF9F00;
}
