{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
	<link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />   
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'account.css' %}">
    <title>My Account</title>
</head>
<body>
    <div class="container">
        <h1>View Profile</h1>
        <img src="{% static 'img/raya.png' %}" alt="Profile Picture" class="profile-picture">
        <p>Welcome to your profile page. Here, you can view your profile details and information.</p>

        <p><strong>Name:</strong> Loraine</p>
        <p><strong>Email:</strong> lor@example.com</p>
        <p><strong>Username:</strong> lorkeyy</p>

        <p><a href="#">Edit Profile</a></p>
        <p><a href="{% url 'SignOut' %}">Log Out</a></p>
    </div>
</body>
</html>
