{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>

    <!-- Include your CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'itemPage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="content">
        <h1>Item Details</h1>

        <div class="card">
            <div class="card-image">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </div>
            <div class="card-details">
                <h2>{{ item.name }}</h2>
                <p>Category: {{ item.category }}</p>
                <p>Ingredients: {{ item.ingredients }}</p>
                <p>Description: {{ item.description }}</p>
            </div>

            <div class="reviews">
                <h3>Reviews</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit Review</button>
                </form>
                
                
                <!-- Display existing reviews -->
                {% if reviews %}
                {% block review_list %}
                <div class="review-list">
                    {% for review in reviews %} {# Loop through all reviews #}
                    <div class="review">
                        <div class="review-header">
                            <i class="fas fa-user"></i>
                            <span>{{ review.user.username }}</span>
                            {% if request.user == review.user %}
                                <a href="{% url 'edit_review' item_id=item.id review_id=review.id %}"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'delete_review' item_id=item.id review_id=review.id %}"><i class="fas fa-trash-alt"></i></a>
                            {% endif %}
                        </div>
                        <div class="review-text">
                            {{ review.text }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endblock %}
                {% else %}
                <p>No reviews yet.</p> {# Display this message when there are no reviews #}
                {% endif %}
            </div>
        </div>

        <div class="buttons">
            <a href="{% url 'FoodPage' %}"><button class="food-button">Go Back</button></a>
        </div>  
    </div>
    
</body>
</html>
